
@media (max-width: 720px) {
}


body{
    margin: 0px;
    margin-top: 50px;
    background-color: rgb(20,20,20);
}

#buttons_display{
    background-color: lightblue;
    min-width: 100%;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: repeat(7,100px);
   

}

button{
    width: 200px;
    height: 50px;
    align-self: center;
    justify-self: center;
    border-radius: 2em;
    position: relative;
}

.lightcoral{
    background-color: lightcoral;
}

#two{
    transition-property: translate, background-color;
    background-color: white;
    translate: 0px 0px;
}

#two:hover{
    transition-property: translate, background-color;
    transition-duration: 0.5s;
    translate: 0px 10px;
    background-color:lightblue;
}

#three{
    box-shadow: 5px 5px black;
    background-color: white;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
}

#three:active{
    box-shadow: 0px 0px black;
    transform: translate(5px, 5px);
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
    background-color: lightgreen;
}

#three:hover{
    background-color: lightgreen;
}

#four:active{
background-color: lightseagreen;
}

.pop{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: lightseagreen;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
}

#five{
    overflow: hidden;
}

.load{
    width: 0px;
    height: 300px;
    background-color: lightgreen;
    position: absolute;
    top: -20px;
    left: 0%;
    border-radius: 2em;
    overflow: hidden;
    
}

.progress{
    position: absolute;
    top: 23px;
    right: 85px;
    justify-self: center;
    
}

#six_overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    justify-self: center;


}

.overflow_wrapper{

    display: flex;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    justify-content: center;
    border-radius: 50px;
    border: solid 2px;
    box-shadow: 5px 5px;
    top: 0px;
    left: 0px;
}
#six{
    position: absolute;
    min-width: 150%;
    min-height: 150%;
}

.overflow_wrapper_active{
    transition-property: box-shadow, top, left, background-color;
    transition-duration: 0.5s;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    justify-content: center;
    border-radius: 50px;
    border: solid 2px;
    top: 4px;
    left: 4px;
    box-shadow: 0px 0px;
}

#seven_overlay{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#seven{
    transition-property: background-color;
    transition-duration: 0.2s;
    background-color: white;
    position: absolute;
    z-index: 1;
}

#seven:hover{
    transition-property: background-color;
    transition-duration: 0.2s;
    background-color: lightcoral;
}

ul, li{
    background-color: lightcoral;
    list-style: none;
}

.drop_down_menu{
    background-color: lightcoral;
    transition-property: overflow, min-height, translate;
    transition-duration: 0.2s;
    position: absolute;
    overflow: hidden;
    max-height: 0px;
    min-height: 0px;
    z-index: 0;
    translate: 0px 0px;
}

.drop_down_menu_show{
    transition-property: overflow, min-height, translate;
    transition-duration: 0.2s;
    position: absolute;
    overflow: hidden;
    min-height: 75px;
    translate: 0px 60px;
}

